
 
.ac { box-shadow: 0 0 20px rgba(0,0,0,0.6); font-family: Arial; font-size: 12px; border-radius: 8px; behavior: url(PIE.htc); }
.ac-item { position: relative;border-radius: 8px; }

.ac-item .ac-item-head { height: 30px; /* IE6-9 */ /*position:relative;*/ padding-top: 5px; 


}
 
.ac-item .ac-item-body { background: url(../images/bg.png) repeat;  }
.ac-item .ac-item-body { border-bottom: none; overflow: hidden; }
 
.ac-icon { display: none; width: 34px; height: 30px; padding: 0; margin: 0; float: left; cursor: pointer; behavior: url(PIE.htc); }
.ac-heading { border-radius: 8px; font-family: 'PT Sans Caption'; font-size: 16px; float: left; text-shadow: 1px 1px 4px rgba(0,0,0,0.9); 
padding-left: 20px; padding-top: 0px; font-weight: 400;  } 

.ac-icon span { color: #83a626; font-size: 36px; position: absolute; left: 6px; top: -6px; font-weight: 400; text-align: center; }
.ac-item.expanded .ac-icon span { top: -9px; }
.ac-item-head-container { width: 100%; position: absolute; left: -8px; cursor: pointer; }
.ac-item.expanded .ac-item-body { border-top: solid 1px #5c5c5c; }
.ac-item.collapsed {  }
.ac-item.collapsed .ac-heading { color: rgba(255,255,255,0.8); }
.ac-item.expanded .ac-heading {  
color: #fff; 
  
text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.ac-item.expanded .ac-item-body { 
	border-radius: 0px 0px 8px 8px;
	
}
.ac-item { border-radius: 5px; overflow: hidden;}
.ac-item .content { border-radius: 5px;}
.ac-item.expanded { border-radius: 5px; box-shadow: 0 2px 15px rgba(0,0,0,0.7);}
.ac-item.expanded .ac-item-head { 
box-shadow: 0 5px 15px rgba(0,0,0,0.7);
background: #bb9469; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiOTQ2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjVmM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #bb9469 0%, #7f5f3c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb9469), color-stop(100%,#7f5f3c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bb9469 0%,#7f5f3c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bb9469 0%,#7f5f3c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bb9469 0%,#7f5f3c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bb9469 0%,#7f5f3c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb9469', endColorstr='#7f5f3c',GradientType=0 ); /* IE6-8 */

 
 }

.ac-border-bottom {  }
.ac-border-top { border-top: solid 1px black; }
.ac-item.expanded .ac-item-body.ac-border-bottom {  }

.ac-item.ac-item-first .ac-item-head { -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; behavior: url(PIE.htc); }
.ac-item.ac-item-last.collapsed .ac-item-head { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom: none; behavior: url(PIE.htc); }
.ac-item.ac-item-last.expanded .ac-item-head { -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom: solid 1px black; behavior: url(PIE.htc); }
.ac-item.ac-item-last.expanded .ac-item-body { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; behavior: url(PIE.htc); }
 