.QOverlay {
	background: #3f362d; /* Old browsers */
	z-index: 9999;
	height:100%; width: 100;
	position: absolute;
}

.QLoader {
	background: #937252;
	height: 1px;
}

.QAmt {
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:30px;
	font-weight:bold;
	line-height:50px;
	color: #cebeae;
	height:50px;
	width:100px;
	margin:-60px 0 0 -50px;
}