
#modal-map {display:none; height:650px !important; }
#modal-map-b {display:none; height:650px !important; }
#modal-int {display:none; height:602px; width: 570px;  }
#modal-int * { overflow: hidden !important }
#simplemodal-overlay { background-color:#000;}

.ymaps { position: absolute; bottom: 20px; left: 0px; border-top: 3px solid #a54030;
border-bottom: 3px solid #c06759;  }


.modal-header { padding: 20px; padding-top: 15px; position: absolute; top: 0px; left: 0px; width: 100%; height: 60px; }
.modal-header h2 { margin: 0; padding: 0; font-size: 32px; font-weight: 400; }

.modal-header span { position: absolute; top: 14px; right: 130px; width: 200px;  padding: 0px;
	text-align: right; border-left: 1px dotted #ae9e9c; font-size: 20px; }

.modal-header span i { font-style: none; font-size: 16px; text-align:right; }

#simplemodal-container { overflow: hidden !important;
	background:url(../images/bg.png) repeat; border-radius: 5px; padding-top: 5px; padding-left: 20px; 
	box-shadow: 0px 5px 15px rgba(0,0,0,0.7); }

.simplemodal-wrap { overflow: hidden !important }

#simplemodal-container .simplemodal-data { padding:8px; }

#simplemodal-container a.modalCloseImg { background: url(../images/x.png) center no-repeat; width:52px; height:52px; 
 display:inline; z-index:3200; position:absolute; top:15px; right:15px; cursor:pointer; opacity: 0.5;
border-radius: 8px; 
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#simplemodal-container a.modalCloseImg:hover {
	opacity: 1;
}

